# Goal 

This post aims to introduce how to select a subset of the `pandas` dataframe by selecting a date range.

# Libraries

In [2]:
import pandas as pd
import numpy as np

# Create a dataframe

In [18]:
date_ranges = pd.date_range('20190101', '20191231', freq='d')
df_rand = pd.DataFrame({'date': date_ranges, 
                       'value': np.random.random(date_ranges.shape[0])})
df_rand.head()

        date     value
0 2019-01-01  0.332090
1 2019-01-02  0.690167
2 2019-01-03  0.237744
3 2019-01-04  0.060678
4 2019-01-05  0.572691

# Select a range using `.between`

In [19]:
df_rand.loc[df_rand.date.between('20190201', '20190211'),:]

         date     value
31 2019-02-01  0.449901
32 2019-02-02  0.803429
33 2019-02-03  0.299074
34 2019-02-04  0.630970
35 2019-02-05  0.294973
36 2019-02-06  0.510857
37 2019-02-07  0.345567
38 2019-02-08  0.877957
39 2019-02-09  0.990186
40 2019-02-10  0.000186
41 2019-02-11  0.378379